doctype html
html(lang="en")

    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

        title!= (enrty && entry.title) || records.site.descrption
        != css('/')

    body.page
        header.page__header
            include _header

        main.page__content
            block content

        footer.page__footer
            include _footer

        != js('/')
